*.Identifier
*.bkp
*.csv
*.jpg
*.png
*.md
*.txt
!**/ocr_editor/assets/*.png
!**/dissertacao/**/*.png
*.json
!assets/*
docs/jornais/*
results
docs/tese/progresso.txt
src/conf/conf.json
*.log
*.pyc
investigacao/papers.txt
src/targets.txt
info.txt
src/gui/osdocr_gui copy.py
src/gui/test_gui.py
results/*
*.gz
*.whl
study_cases
OSDOCR/OSDOCR/models/DE_GAN_old_docs/
OSDOCR/OSDOCR/models/nunif/
OSDOCR/OSDOCR/preprocessing/models/HVI_CIDNet
packages/iopath/
calibrate
**/tmp