*.Identifier
*.bkp
*.csv
*.jpg
*.png
!**/ocr_editor/assets/*.png
*.json
docs/jornais/*
results
docs/tese/progresso.txt
src/conf/conf.json
*.log
*.pyc
investigacao/papers.txt
src/targets.txt
info.txt
src/gui/osdocr_gui copy.py
src/gui/test_gui.py
results/*
*.gz
*.whl
study_cases
OSDOCR/OSDOCR/models/DE_GAN_old_docs/
OSDOCR/OSDOCR/models/nunif/
packages/iopath/
calibrate